.text-container {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    /* border-radius:50px; */
  }

.typing-text{
    margin:0px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 2s steps(25,end) forwards,
              blink 1s infinite;
    background:#f5f5f5;
  }

  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }

  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
}

body {
    background-color: black;
}

#contact-info {
    text-align: center;
    background: mintcream;
}

p {
    color: green;
}

h2 {
    color: mediumblue;
    text-align: center;
}

#skills {
    text-align: center;
    background: mintcream;
}

.summary {
    text-align: center;
    background: mintcream;
}

li {
    list-style-type: none;
    color: green;
}

#projects {
    background: mintcream;
}

h3 {
    color: white;
}