.text-container {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    /* background: #BC7414; */
    /* border-radius:50px; */
  }

.typing-text{
    margin:0px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 2s steps(25,end) forwards,
              blink 1s infinite;
    /* background:#f5f5f5; */
  }

  .contact {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #projects {
    /* background-color: #F6EDCC; */
    padding: 10px;
    min-height: 100vh;
    flex-direction: row;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
   }
  
   .project {
     float: left;
     padding: 40px;
     margin: 20px;
     box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
   }

  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }

  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
}

body {
    background-color: #64738c;
}

#contact-info {
    overflow: hidden;
    /* text-align: center; */
    /* background:  ; */
}

div#education {
    text-align: center;
}

p {
    color: #041414;
}

h2 {
    color: #BC7414;
    text-align: center;
}

#skills {
    text-align: center;
    /* background: mintcream; */
}

.skill:hover {
    color: #4712A2;
}

.summary {
    text-align: center;
    width: 40em;
    margin: auto;

    /* margin: 400px; */
    /* padding: 0px; */ 
    /* background: mintcream; */
}

li {
    list-style-type: none;
    color: #041414;
}

#projects { 
    margin: auto;
    width: 60em; 
 }

h3 {
    color: white;
}

i {
    color: white;
}