.text-container {
    /* padding:20px 30px; */
    background:#f5f5f5;
    font-size:35px;
    font-family:monospace;
    /* background: #BC7414; */
    /* border-radius:50px; */
  }

  .professional-pic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  }

  .skill {
    float: center;
    padding: 15px;
  }

  .skill-logo {
      width: 50px;
  }

.typing-text{
    margin:0px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 2s steps(25,end) forwards,
              blink 1s infinite;
    /* background:#f5f5f5; */
  }

  .contact {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
   .project {
     float: left;
     padding: 40px;
     margin: 20px;
     box-shadow: 0 8px 10px 0 rgba(0,0,0,0.19);
   }

  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }

  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
}

body {
    background-color: #64738c;
}

#contact-info {
    overflow: hidden;
    /* text-align: center; */
    /* background:  ; */
}

.description{
    display: inline;
    text-align: left;
}

/* div#education {
    text-align: center;
} */

p {
    color: #041414;
}

h2 {
    color: #BC7414;
    text-align: center;
}

.project-logo {
    float: left;
}

#skills {
    text-align: center;
    /* background: mintcream; */
}

.summary {
    text-align: center;
    width: 40em;
    margin: auto;

    /* margin: 400px; */
    /* padding: 0px; */ 
    /* background: mintcream; */
}

li {
    list-style-type: none;
    color: #041414;
}

#projects { 
    margin: auto;
    width: 60em; 
    padding: 10px;
    min-height: 100vh;
    flex-direction: row;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


h3 {
    color: white;
}

i {
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration-color: none;
}

img {
    width: 150px;
}